header {
	margin-bottom: 50px;
	background-color: #999999;
}

header nav div {
	font-size: 30px
}

ul#nav-list.nav.navbar-nav.navbar-right {
	clear: none;
}

div#main-title {
	font-size: 2em;
	margin-bottom: 30px;
}

p#food-title {
	text-align: center;
	font-size: 1.5em;

}

div#main-text {
	width: auto;
	margin-left: 20px;
	margin-right: 20px;
	background-color: #999999;
}

@media (max-width: 767px){
	div#main-text {
		margin-left: 60px;
		margin-right: 60px;
	}
}
